body{
  margin: 10px;
}
a {
  color: black;
  text-decoration: none;
}
h1 {
  font-size:25px;
  color: black;
  text-align: center;
  border-bottom:1px solid skyblue;
  margin: 0;
  padding: 20px;
}
h2{
  padding-top:9px;
  margin:0;
}
#grid ol {
  border-right: 1px solid gray;
  width: 100px;
  margin:0;
  padding-left:35px;
  padding-top:10px;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid #article{
  padding-right:10px;
}
@media(max-width:500px){
  #grid{
    display: block;
  }
  #grid ol {
    border-right:none;
  }
}
  h2{
    padding-top:0;
    margin:15px;
}
  p{
    margin-left:15px;
  }
